PORT=5001
NODE_ENV=
JWT_SECRET=
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:8081

DATABASE_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=


JAAAS_APP_ID=
JAAAS_KID=
JAAAS_PRIVATE_KEY_PATH=
JAAAS_DOMAIN=
JAAAS_TOKEN_EXPIRES_SECONDS=

NHS_CONTENT_API_BASE_URL=
NHS_CONTENT_API_KEY=